# Exercise 4.8: Grouping Data & Aggregating Variables agg()
#### by Claudia Lan Yee Chiu

### Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

### Importing Dataframes

In [2]:
# Assign path
path = r'C:\Users\clany\OneDrive\Documents\CareerFoundry\Chap_4_Pythons Fundamentals for Data Analysts\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\clany\\OneDrive\\Documents\\CareerFoundry\\Chap_4_Pythons Fundamentals for Data Analysts\\Instacart Basket Analysis'

In [4]:
# Importing ords_prods_merged pkl from last exercise 4.7
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data','orders_products_merged_task4_7.pkl'))

In [5]:
# Check imported dataframe
df_ords_prods_merge.head()

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders

In [6]:
df_ords_prods_merge.shape

(32404859, 20)

In [7]:
# Creating a subset called df of the first one million entries as per exercise hands-on

df = df_ords_prods_merge[:1000000]

In [8]:
# Check the shape of newly created df
df.shape

(1000000, 20)

In [9]:
df.head(10)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders

### Grouping Data with pandas

#### First: Split the data into groups based on the given criteria
#### groupby() function: will group a given dataframe by a given column

In [10]:
# Use the groupby function first as example on the product_name

df.groupby('product_name')

#### Second: Aggregating  Data with agg()

In [12]:
# Calculate the mean of the ´order_number` column grouped by the department_id column to compare the average nummber of orders per user
# 1. Split the data into groups on department_id

df.groupby('department_id').agg({'number_of_orders': ['mean']})

              number_of_orders
                          mean
department_id
4                    18.825780
7                    17.472355
13                   17.993423
14                   19.246334
16                   19.463012
17                   11.294069
19                   19.305237
20                   17.599636

In [13]:
# Aggregation conducted withouth the agg() function  - same result as above but different format

df.groupby('department_id')['number_of_orders'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: number_of_orders, dtype: float64

#### Performing Multiple Aggregations

In [14]:
# To produce multiple statistics at the same time, such as mean, minimum, maximum

df.groupby('department_id').agg({'number_of_orders': ['mean', 'min', 'max']})

              number_of_orders
                          mean min max
department_id
4                    18.825780   1  99
7                    17.472355   1  99
13                   17.993423   1  99
14                   19.246334   1  99
16                   19.463012   1  99
17                   11.294069   1  98
19                   19.305237   1  99
20                   17.599636   1  99

#### Third: Aggregrating Data with Transform() - creating flags for the data

In [16]:
# Create max_order column: three steps in one line of code
# 1. Split data into groups based on user_id, 2. Apply transform() on order_number to generate max orders of each user, 3. create max_order for the results 

df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['number_of_orders'].transform(np.max)

In [17]:
# Check the outcome via header

df_ords_prods_merge.head(15)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22

In [18]:
# View 100 rows via head() function
df_ords_prods_merge.head(100)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,77,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,77,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,...,77,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Average Orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,...,77,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,22

In [19]:
# Request pandas NOT to assign any option regarding the maximum number of rows to display

pd.options.display.max_rows = None

In [ ]:
# View all 100 rows via head() function
df_ords_prods_merge.head(100)

###### Cleared output of above to reduce the size of notebook!

#### Deriving Columns with loc()

##### Create the flag with following criteria:

##### 1. If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
##### 2. If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
##### 3. If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [22]:
# Condition #1 above
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [23]:
# Condition #2 above
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [24]:
# Condition #3 above
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [26]:
# Print frequency of new ´loyalty_flag` using value_counts
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: loyalty_flag, dtype: int64

In [32]:
# To view only specific columns of a dataframe

# df_ords_prods_merge[['user_id', 'loyalty_flag', 'number_of_orders']].head(5)

# Received 
# ---------------------------------------------------------------------------
# MemoryError                               Traceback (most recent call last)
# Cell In[29], line 3
#       1 # To view only specific columns of a dataframe
# ----> 3 df_ords_prods_merge[['user_id', 'loyalty_flag', 'number_of_orders']].head(5)
# File <__array_function__ internals>:200, in concatenate(*args, **kwargs)

# MemoryError: Unable to allocate 2.66 GiB for an array with shape (11, 32404859) and data type int64

# Task 4.8

#### Step 1: Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise
##### Done

#### Step 2: In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [33]:
# First step: use ´groupby` function on the ´product_name´

df_ords_prods_merge.groupby('product_name')

In [34]:
# Second step: split the data into groups by "department_id" and then calculate the mean for each "number_of_orders" column
df_ords_prods_merge.groupby('department_id').agg({'number_of_orders': ['mean']})

              number_of_orders
                          mean
department_id
1                    15.457838
2                    17.277920
3                    17.170395
4                    17.811403
5                    15.215751
6                    16.439806
7                    17.225802
8                    15.340650
9                    15.895474
10                   20.197148
11                   16.170638
12                   15.887671
13                   16.583536
14                   16.773669
15                   16.165037
16                   17.665606
17                   15.694469
18                   19.310397
19                   17.177343
20                   16.473447
21                   22.902379

#### Step 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset?

##### The mean of the subset is greater than the one of the entire dataset (except for department_id: 17). 
##### Also, the minimum value of the subset is 11.3 while it is much greater in the entire df (15.2). The maximum value of the entire df is also much higher (23).

#### Step 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions

In [35]:
# Done: see output 26 above

#### Step 5:  Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers

In [36]:
# Check the data for accuracy
df_ords_prods_merge.head(100)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,10,New Customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,10,New Customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,10,New Customer
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer
14,487368,15,prior,22,1,10,14.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,9,New Customer
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,9,New Customer
17,532817,19,prior,7,4,17,6.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,9,New Customer
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,33,Regular Customer
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,20,Regular Customer
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,20,Regular Customer
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,11,Regular Customer
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,11,Regular Customer
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer
25,1261384,52,prior,3,1,10,7.0,196,3,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer
26,580568,52,prior,5,2,10,8.0,196,6,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
27,2428073,52,prior,7,2,7,8.0,196,5,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,27,Regular Customer
28,342306,52,prior,9,1,11,7.0,196,5,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer
29,1520353,52,prior,10,2,10,8.0,196,4,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
30,2542086,52,prior,11,2,9,7.0,196,3,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
31,944694,52,prior,12,1,16,6.0,196,7,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer
32,1268191,52,prior,15,2,11,8.0,196,3,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
33,1122089,52,prior,17,2,10,6.0,196,4,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
34,1498922,52,prior,18,2,10,14.0,196,6,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
35,180919,52,prior,19,3,8,8.0,196,4,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,27,Regular Customer
36,2695875,52,prior,21,5,10,30.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,27,Regular Customer
37,3205960,67,prior,1,3,11,NaN,196,1,0,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,24,Regular Customer
38,970922,67,prior,2,1,15,5.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
39,596585,67,prior,3,1,13,7.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
40,2037087,67,prior,4,2,9,8.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,24,Regular Customer
41,2474111,67,prior,5,3,14,8.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,24,Regular Customer
42,1568481,67,prior,6,3,12,7.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,24,Regular Customer
43,2048527,67,prior,8,2,11,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,24,Regular Customer
44,2389031,67,prior,9,2,14,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,24,Regular Customer
45,2378562,67,prior,10,1,10,6.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
46,1515698,67,prior,11,1,11,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
47,1928050,67,prior,12,2,12,8.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,24,Regular Customer
48,1949274,67,prior,13,1,10,6.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
49,551869,67,prior,14,1,9,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
50,768572,67,prior,16,4,10,9.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,24,Regular Customer
51,150528,67,prior,18,5,16,4.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,24,Regular Customer
52,29758,67,prior,19,0,14,9.0,196,2,1,...,7,9.0,both,NaN,NaN,Busiest day,Busiest days,Most Orders,24,Regular Customer
53,1558976,67,prior,21,1,9,5.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
54,863974,67,prior,22,1,11,14.0,196,3,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
55,2308399,67,prior,23,1,14,14.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,24,Regular Customer
56,2759128,81,prior,3,1,9,14.0,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,7,New Customer
57,1812985,81,prior,5,2,20,30.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,7,New Customer
58,1889835,82,prior,1,3,15,NaN,196,6,0,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,19,Regular Customer
59,499460,82,prior,3,5,10,5.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,19,Regular Customer
60,2728456,82,prior,4,0,11,16.0,196,1,1,...,7,9.0,both,NaN,NaN,Busiest day,Busiest days,Most Orders,19,Regular Customer
61,2653743,82,prior,6,4,9,13.0,196,5,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,19,Regular Customer
62,1358880,82,prior,9,1,10,30.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,19,Regular Customer
63,343588,82,prior,10,2,11,1.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,19,Regular Customer
64,3034663,82,prior,15,2,11,12.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,19,Regular Customer
65,147262,82,prior,18,1,13,7.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,19,Regular Customer
66,3144004,82,prior,19,2,15,8.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,19,Regular Customer
67,2126069,98,prior,3,0,9,25.0,196,7,0,...,7,9.0,both,NaN,NaN,Busiest day,Busiest days,Most Orders,14,Regular Customer
68,2210120,98,prior,7,5,14,5.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,14,Regular Customer
69,681011,98,prior,9,3,9,30.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,14,Regular Customer
70,2846344,98,prior,11,4,13,15.0,196,2,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,14,Regular Customer
71,747431,98,prior,12,6,13,30.0,196,4,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,14,Regular Customer
72,2383054,98,prior,13,4,11,30.0,196,1,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,14,Regular Customer
73,1993729,98,prior,14,5,8,8.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,14,Regular Customer
74,1403849,109,prior,3,3,17,9.0,196,5,0,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,6,New Customer
75,520620,120,prior,1,3,11,NaN,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,3,New Customer
76,3273029,120,prior,3,2,8,19.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,3,New Customer
77,1861943,185,prior,2,1,12,25.0,196,10,0,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,6,New Customer
78,2040988,195,prior,1,1,14,NaN,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,58,Loyal Customer
79,1680569,195,prior,8,1,9,4.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,58,Loyal Customer
80,276171,195,prior,19,5,11,3.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,58,Loyal Customer
81,2744976,195,prior,22,5,10,7.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,58,Loyal Customer
82,2781919,195,prior,25,1,14,4.0,196,1,1,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,58,Loyal Customer
83,1738718,195,prior,31,2,8,4.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,58,Loyal Customer
84,3058369,195,prior,34,3,10,6.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,58,Loyal Customer
85,1485596,195,prior,37,2,15,0.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,58,Loyal Customer
86,417035,195,prior,40,3,16,2.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,58,Loyal Customer
87,1615297,195,prior,47,5,10,2.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,58,Loyal Customer
88,1765587,195,prior,52,3,12,2.0,196,3,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,58,Loyal Customer
89,745908,195,prior,57,4,11,3.0,196,3,1,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,58,Loyal Customer
90,2505656,222,prior,17,2,12,1.0,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,70,Loyal Customer
91,3268370,222,prior,38,5,15,1.0,196,6,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,70,Loyal Customer
92,2016711,290,prior,9,5,19,6.0,196,8,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,51,Loyal Customer
93,2706088,290,prior,28,6,10,7.0,196,16,1,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,51,Loyal Customer
94,1952286,331,prior,6,5,16,30.0,196,8,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,8,New Customer
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,3,New Customer
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,7,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,3,New Customer
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,7,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,8,New Customer
98,858092,420,prior,4,1,19,30.0,196,2,0,...,7,9.0,both,NaN,NaN,Regularly busy,Busiest days,Average Orders,22,Regular Customer
99,119314,420,prior,5,3,19,16.0,196,2,1,...,7,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,22,Regular Customer

In [37]:
# Basic statistics of df_orders_products_merged by 'loyalty_flag' for each loyalty category

df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal Customer    10.386336  1.0  99999.0
New Customer      13.294670  1.0  99999.0
Regular Customer  12.495717  1.0  99999.0

##### Prices of products purchased by loyal customers are much lower than new and regular customers. Interesting to note that new customers purchase in average the highest priced products.

#### Step 6: Create a spending flag for each user based on the average price across all their orders using the following criteria:
#### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [38]:
# Create a new column ´average_price´ and aggregate with transform() using numpy mean

df_ords_prods_merge['average_price']=df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [40]:
# Check output
df_ords_prods_merge.head(25)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,10,New Customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,10,New Customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,10,New Customer,6.367797
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797
6,550135,1,prior,7,1,9,20.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer,3.980556
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer,3.980556
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556
14,487368,15,prior,22,1,10,14.0,196,1,1,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,9,New Customer,8.372059
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,9.0,both,NaN,NaN,Regularly busy,Normal days,Most Orders,9,New Customer,8.372059
17,532817,19,prior,7,4,17,6.0,196,1,1,...,9.0,both,NaN,NaN,Least busy,Slowest days,Average Orders,9,New Customer,8.372059
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,33,Regular Customer,7.012683
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,9.0,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,20,Regular Customer,8.137793
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,9.0,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,20,Regular Customer,8.137793
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,11,Regular Customer,7.444898
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,9.0,both,NaN,NaN,Least busy,Slowest days,Most Orders,11,Regular Customer,7.444898
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer,6.356287
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,9.0,both,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer,6.356287

In [41]:
# Create ´Spending Flag´ column and assign labels ´Low spender´ for prices under 10

df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [42]:
# Create ´Spending Flag´ column and assign labels ´High spender´ for prices equal or above 10

df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [43]:
# Check output

df_ords_prods_merge.head()

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,NaN,NaN,Regularly busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,NaN,NaN,Regularly busy,Slowest days,Most Orders,10,New Customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,NaN,NaN,Least busy,Slowest days,Most Orders,10,New Customer,6.367797,Low spender

In [44]:
# Check the frequency of new column ´spending flag´

df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

#### Step 7: Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [45]:
# Create a new column ´median_prior_order´ and aggregate with transform() using numpy median

df_ords_prods_merge['median_prior_order']=df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [46]:
# Check output

df_ords_prods_merge.head(25)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797,Low spender,20.259259
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,NaN,NaN,Regularly busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender,20.259259
2,473747,1,prior,3,3,12,21.0,196,1,1,...,NaN,NaN,Regularly busy,Slowest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender,20.259259
4,431534,1,prior,5,4,15,28.0,196,1,1,...,NaN,NaN,Least busy,Slowest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,NaN,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797,Low spender,20.259259
6,550135,1,prior,7,1,9,20.0,196,1,1,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,NaN,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender,20.259259
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,NaN,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,NaN,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412
14,487368,15,prior,22,1,10,14.0,196,1,1,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,NaN,NaN,Regularly busy,Normal days,Most Orders,9,New Customer,8.372059,Low spender,8.040698
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,NaN,NaN,Regularly busy,Normal days,Most Orders,9,New Customer,8.372059,Low spender,8.040698
17,532817,19,prior,7,4,17,6.0,196,1,1,...,NaN,NaN,Least busy,Slowest days,Average Orders,9,New Customer,8.372059,Low spender,8.040698
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,NaN,NaN,Regularly busy,Slowest days,Most Orders,33,Regular Customer,7.012683,Low spender,10.055000
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,NaN,NaN,Regularly busy,Slowest days,Average Orders,20,Regular Customer,8.137793,Low spender,6.073427
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,NaN,NaN,Regularly busy,Slowest days,Most Orders,20,Regular Customer,8.137793,Low spender,6.073427
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,NaN,NaN,Least busy,Slowest days,Most Orders,11,Regular Customer,7.444898,Low spender,10.549296
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,NaN,NaN,Least busy,Slowest days,Most Orders,11,Regular Customer,7.444898,Low spender,10.549296
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer,6.356287,Low spender,9.155280
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,NaN,NaN,Regularly busy,Busiest days,Most Orders,27,Regular Customer,6.356287,Low spender,9.155280

In [47]:
# Create new column ´freqency flag´ based on median days since prior order and label ´Non-frequent Customer´ when higher than 20
df_ords_prods_merge.loc[df_ords_prods_merge['median_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [49]:
# Create new column ´freqency flag´ based on median days since prior order and label ´Regular Customer´ when higher than 10 and lower or equal 20
df_ords_prods_merge.loc[(df_ords_prods_merge['median_prior_order'] > 10) & (df_ords_prods_merge['median_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [50]:
# Create new column ´freqency flag´ based on median days since prior order and label ´Frequent Customer´ is lower than or equal to 10
df_ords_prods_merge.loc[df_ords_prods_merge['median_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [51]:
# Check output

df_ords_prods_merge.head(21)

,order_id,user_id,eval_set,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_prior_order,frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,NaN,Regularly busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,NaN,Regularly busy,Slowest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,NaN,Least busy,Slowest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,NaN,Regularly busy,Normal days,Average Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
6,550135,1,prior,7,1,9,20.0,196,1,1,...,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,NaN,Regularly busy,Busiest days,Most Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,NaN,Least busy,Slowest days,Average Orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,NaN,Regularly busy,Normal days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
14,487368,15,prior,22,1,10,14.0,196,1,1,...,NaN,Regularly busy,Busiest days,Most Orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,NaN,Regularly busy,Normal days,Most Orders,9,New Customer,8.372059,Low spender,8.040698,Frequent customer
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,NaN,Regularly busy,Normal days,Most Orders,9,New Customer,8.372059,Low spender,8.040698,Frequent customer
17,532817,19,prior,7,4,17,6.0,196,1,1,...,NaN,Least busy,Slowest days,Average Orders,9,New Customer,8.372059,Low spender,8.040698,Frequent customer
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,NaN,Regularly busy,Slowest days,Most Orders,33,Regular Customer,7.012683,Low spender,10.055000,Regular customer
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,NaN,Regularly busy,Slowest days,Average Orders,20,Regular Customer,8.137793,Low spender,6.073427,Frequent customer
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,NaN,Regularly busy,Slowest days,Most Orders,20,Regular Customer,8.137793,Low spender,6.073427,Frequent customer

In [52]:
# Check the frequency of new column ´frequency flag´

df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        16468582
Regular customer         12521159
Non-frequent customer     3415113
NaN                             5
Name: frequency_flag, dtype: int64

In [63]:
# Check the null customer above

df_ords_prods_merge[df_ords_prods_merge['frequency_flag'].isnull()][['user_id', 'days_since_prior_order', 'frequency_flag']]

          user_id  days_since_prior_order frequency_flag
13645692   159838                     NaN            NaN
17251990   159838                     NaN            NaN
17622767   159838                     NaN            NaN
24138593   159838                     NaN            NaN
25880002   159838                     NaN            NaN

##### The NaN values seem to be from a new customer with user_id 159838 with no prior order, meaning this is his first order, hence the NaN is justified

#### Last Step of this task: Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [65]:
# Export as pickle
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_aggregated.pkl'))